@import 'colors';

//Global
* {
  color: $text-color;
  font-size: 1rem;        // можно оставить 1.2rem, если хочешь покрупнее
  box-sizing: border-box;
}

@mixin panel($bg-color) {
  background-color: $bg-color;
  position: relative;
}

.container {
  background-color: $page-bg;
  border: 10px solid $page-bg;
  display: flex;
  height: 500px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em;
  width: 50%;

  .left {
    @include panel($left-bg);
    height: 100%;
    width: 69%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .right {
    @include panel($right-bg);
    height: 100%;
    width: 29%;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    .button {
      background-color: $button-bg;
      color: $left-bg;
      border: 0;
      border-radius: 10px;
      cursor: pointer;
      width: 7em;
      height: 2.5em;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5em 2em;

      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%); 
    }
  }
}
